image:
  repository: tccr.io/truecharts/eclipse-mosquitto
  tag: latest
  pullPolicy: IfNotPresent

service:
  main:
    # -- Set the service type
    # Options: Simple(Loadbalancer), LoadBalancer, ClusterIP, NodePort
    type: LoadBalancer
    ports:
      main:
        port: 1883
        targetPort: 1883
  websockets:
    enabled: true
    ports:
      websockets:
        enabled: true
        port: 9001
        targetPort: 9001

ingress:
  websockets:
    autoLink: true

auth:
  # -- By enabling this, `allow_anonymous` gets set to `false` in the mosquitto config.
  enabled: true

websockets:
  # -- By enabling this, an additional listener with protocol websockets is added in the mosquitto config.
  enabled: false

configmap:
  config:
    enabled: true
    data:
      mosquitto.conf: |
        listener {{ .Values.service.main.ports.main.targetPort }}
        {{- if .Values.websockets.enabled }}
        listener {{ .Values.service.websockets.ports.websockets.targetPort }}
        protocol websockets
        {{- end }}
        {{- if .Values.auth.enabled }}
        allow_anonymous false
        {{- else }}
        allow_anonymous true
        {{- end }}
        {{- if .Values.persistence.data.enabled }}
        persistence true
        persistence_location {{ .Values.persistence.data.mountPath }}
        autosave_interval 1800
        {{- end }}
        {{- if .Values.persistence.configinc.enabled }}
        include_dir {{ .Values.persistence.configinc.mountPath }}
        {{- end }}
        password_file /mosquitto/config/password.txt
        require_certificate false
        use_identity_as_username false
  password:
    enabled: true
    data:
      password.txt: |
        # username:password
        # Use Encrypted password

persistence:
  data:
    enabled: false
    mountPath: "/mosquitto/data"
  configinc:
    enabled: false
    mountPath: "/mosquitto/configinc"
  mosquitto-config:
    enabled: "true"
    mountPath: "/mosquitto/config/mosquitto.conf"
    subPath: "mosquitto.conf"
    type: "custom"
    volumeSpec:
      configMap:
        name: '{{ template "tc.common.names.fullname" . }}-config'
  mosquitto-password:
    enabled: "true"
    mountPath: "/mosquitto/config/password.txt"
    subPath: "password.txt"
    type: "custom"
    volumeSpec:
      configMap:
        name: '{{ template "tc.common.names.fullname" . }}-password'

portal:
  enabled: false
