# Default values for polymorphic-app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""
prefixWithReleaseName:
  enabled: true
image:
  repository:
  tag:
  pullPolicy: IfNotPresent

imagePullSecrets: []

volumeMounts: []

volumes: []

env: []
envFrom: []

# service template
serviceTemplate:
  name: svc
  image:
  averageUtilization: 50
  ## initContainers:
  ##   - name: something
  ##     image: alpine
  ##     command: ['command', 'here']

  initContainers: []

  lifecycleHooks: {}

  healthcheck:
    enabled: false
    ## type is common for SHARED PROBE (OPTION 1) or SEPARATE PROBES (OPTION 2)
    ## For type you can give httpGet, tcpSocket, exec
    type: httpGet
    # # --- OPTION 1: SHARED PROBE (Same logic for Liveness & Readiness) ---

    #  # FOR httpGet
    # path: /healthz
    # port: http

    #  # FOR tcp:
    # port: 5432

    #  # FOR exec:
    # command:
    #   - /bin/sh
    #   - -c
    #   - cat /tmp/healthy

    # # Common timings for Shared Probe
    # initialDelaySeconds: 30
    # periodSeconds: 30
    # timeoutSeconds: 7
    # failureThreshold: 3

    ##--- OPTION 2: SEPARATE PROBES (Distinct logic) ---
    # probes:
    #   liveness:
    #     # Select keys based on type (path & port for http, only port for tcpSocket, only command for exec)
    #     path: /liveness
    #     port: http
    #     # command: ["/bin/cat", "/tmp/live"]
    #     timeoutSeconds: 30
    #     initialDelaySeconds: 30
    #     periodSeconds: 30
    #     failureThreshold: 3
    #   readiness:
    #     path: /readiness
    #     port: http
    #     # command: ["/bin/cat", "/tmp/ready"]
    #     timeoutSeconds: 30
    #     initialDelaySeconds: 30
    #     periodSeconds: 30
    #     failureThreshold: 3

  podDisruptionBudget:
    enabled: false
    # Set either `minAvailable` OR `maxUnavailable`
    # minAvailable: 1
    # maxUnavailable: 1
  autoscaling: false
  minReplicaCount: 1
  maxReplicaCount: 1
  env: []
  envFrom: []
  ports:
    - name: http
      containerPort: 80
      protocol: TCP
  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi
  securityContext: {}
    # fsGroup: 1001
    # runAsGroup: 1001
    # runAsUser: 1001
  containerSecurityContext: {}
    # readOnlyRootFilesystem: true
    # capabilities:
    #   drop: []
    #   add: []
  dnsConfig: {}
    # nameservers:
    #   - 192.0.2.1 # this is an example
    # searches:
    #   - ns1.svc.cluster-domain.example
    #   - my.dns.search.suffix
    # options:
    #   - name: ndots
    #     value: "2"
    #   - name: edns0
  annotations: {}
  podAnnotations: {}
    # my-annotation: "value"
  nodeSelector: {}
  tolerations: []
  affinity: {}
  volumeMounts: []
  volumes: []

  service:
    enabled: false
    # className: nginx
    type: ClusterIP
    ports:
      - name: http
        port: 80
        targetPort: http
        protocol: TCP
    annotations: {}

  ingress:
    enabled: false
    # className: nginx
    annotations: {}
    hosts:
      - host: app.example.com
        paths: []

    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

  # Enables Gateway API HTTPRoute as a replacement for traditional Ingress resources
  httpRoute:
    enabled: false
    annotations: {}
    parentRefs: []
      # - name: contour #name of the gateway resource
      #   namespace: projectcontour #name space where gateway resource running
    hostnames: []
    # - "app.example.com"
    matches:
      path:
        type: PathPrefix
        value: "/"
      timeouts: {}
        # request: 10s  #Maximum time the Gateway waits to complete the full client request and response cycle.
        # backendRequest: 10s # Maximum time the Gateway waits for a response from the backend service.
    filters: []
    # - type: RequestHeaderModifier
    #   requestHeaderModifier:
    #     set:
    #       - name: X-Forwarded-Proto
    #         value: https

services: []

# worker template
workerTemplate:
  name: worker
  image:
  autoscaling: false
  minReplicaCount: 1
  maxReplicaCount: 1
  terminationGracePeriodSeconds: 30
  secret:
    enabled: false
  env: []
  envFrom: []
  averageUtilization: 100
  volumeMounts: []
  volumes: []

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi
  securityContext: {}
    # fsGroup: 1001
    # runAsGroup: 1001
    # runAsUser: 1001
  containerSecurityContext: {}
    # readOnlyRootFilesystem: true
    # capabilities:
    #   drop: []
    #   add: []
  dnsConfig: {}
    # nameservers:
    #   - 192.0.2.1 # this is an example
    # searches:
    #   - ns1.svc.cluster-domain.example
    #   - my.dns.search.suffix
    # options:
    #   - name: ndots
    #     value: "2"
    #   - name: edns0
  nodeSelector: {}

  tolerations: []

  affinity: {}

  annotations: {}

workers:
#######################################
# pulsar-billing-service
#######################################
# - name: pulsar-billing-service
#   image:
#     repository:
#     tag:
# #   args: ["-template", "/var/www/.env.staging:/var/www/.env", "-poll", "php", "artisan", "queue:work"]
#   env: []
#   envFrom: []
#     # - name: zxcv
#     #   value: uiop
#   # certificates & keys will be mounted as a volume from secret
#   autoscaling: false
#   minReplicaCount: 1
#   maxReplicaCount: 0
#   # envSecrets:
#   #   name: uiop
#   #   name: zxcv
#   #   name: hjkl
#   volumeMounts: []
#   # - name: vol1
#   #   mountPath: /etc/vol1
#   # - name: vol2
#   #   mountPath: /etc/vol2
#   # - name: vol3
#   #   mountPath: /etc/vol3

#   volumes: []
#     # - name: vol1
#     #   secret:
#     #     secretName: secret1
#     # - name: vol2
#     #   secret:
#     #     secretName: secret2
#     # - name: vol3
#     #   secret:
#     #     secretName: secret3

# probe: []
# aliveCommand: ["/app/worker", "alive"]
# timeoutSeconds: 10

#   resources:
# #     # We usually recommend not to specify default resources and to leave this as a conscious
# #     # choice for the user. This also increases chances charts run on environments with little
# #     # resources, such as Minikube. If you do want to specify resources, uncomment the following
# #     # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
#     limits:
#       cpu: 100m
#       memory: 128Mi
#     requests:
#       cpu: 100m
#       memory: 128Mi

# #   nodeSelector: {}

# #   tolerations: []

# #   affinity: {}

cronJobTemplate:
  name: cronjob
  image:
  suspend: true
  env: []
  envFrom: []
  volumeMounts: []
  annotations: {}
  volumes: []
  securityContext: {}
    # fsGroup: 1001
    # runAsGroup: 1001
    # runAsUser: 1001
  # successfulJobsHistoryLimit: 1
  # failedJobsHistoryLimit: 1
  containerSecurityContext: {}
    # readOnlyRootFilesystem: true
    # capabilities:
    #   drop: []
    #   add: []

cronJobs:
#   - name: update-status
#     image:
#       repository:
#       tag:
#     suspend: true
#     env: []
#     envFrom: []
#     annotations: {}
#     schedule: "0 5 * * *"
#     # The `template` below places `.env.staging` to `.env`.
#     args: ["-template", "/var/www/.env.staging:/var/www/.env", "php", "artisan", "listings:update-statuses"]
#     volumeMounts: []
#     # - name: vol1
#     #   mountPath: /etc/vol1
#     # - name: vol2
#     #   mountPath: /etc/vol2
#     # - name: vol3
#     #   mountPath: /etc/vol3

#     volumes: []
#       # - name: vol1
#       #   secret:
#       #     secretName: secret1
#       # - name: vol2
#       #   secret:
#       #     secretName: secret2
#       # - name: vol3
#       #   secret:
#       #     secretName: secret3

jobTemplate:
  name: job
  image:
    repository:
    tag:
  env: []
  envFrom: []
  command:
  annotations: []
  volumeMounts: []
  securityContext: {}
    # fsGroup: 1001
    # runAsGroup: 1001
    # runAsUser: 1001
  containerSecurityContext: {}
    # readOnlyRootFilesystem: true
    # capabilities:
    #   drop: []
    #   add: []
  affinity: {}
  tolerations: []
  volumes: []

jobs:
  # - name: migrate
  #   env:
  #     - name: TZ
  #       value: Asia/Kolkata
  #   # To keep the container running
  #   command: [ "/bin/sh", "-c", "--" ]
  #   args: [ "while true; do sleep 30; done;" ]
  # command: ["migrate"]
  # args: ["migrate", "-database", "${MIGRATION_URL}", "-path", "/app/db_migrations", "up"]
