apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "healthchecks.fullname" . }}
  labels:
    {{- include "healthchecks.labels" . | nindent 4 }}
data:
  PUID: "1000"
  PGID: "1000"
  {{- if .Values.postgresql.enabled }}
  DB: "postgres"
  DB_HOST: "{{ .Release.Name }}-postgresql.{{ .Release.Namespace }}.svc.cluster.local"
  DB_PORT: {{ default "5432" .Values.postgresql.service.port | quote }}
  DB_NAME: {{ default "healthckecks" .Values.postgresql.postgresqlDatabase | quote }}
  DB_USER: {{ default "healthckecks" .Values.postgresql.postgresqlUsername | quote }}
  {{- end }}
  EMAIL_HOST: {{ .Values.email.host | quote }}
  EMAIL_PORT: {{ .Values.email.port | quote }}
  EMAIL_HOST_USER: {{ .Values.email.user | quote }}
  {{- if .Values.siterootOverride }}
  SITE_ROOT: {{ .Values.siterootOverride | quote }}
  {{- else if .Values.ingress.enabled }}
  {{- range $host := .Values.ingress.hosts }}
    {{- range .paths }}
  SITE_ROOT: "http{{ if $.Values.ingress.tls }}s{{ end }}://{{ $host.host }}{{ trimSuffix "/" . }}"
    {{- end }}
  {{- end }}
  {{- else }}
  SITE_ROOT: "http://localhost:8000"
  {{- end }}
  {{- if .Values.sitenameOverride }}
  SITE_NAME: {{ .Values.sitenameOverride | quote }}
  {{- else }}
  SITE_NAME: "localhost"
  {{- end}}
  {{- range $key, $val := .Values.extraenvs  }}
  {{ $key }}: {{ $val | quote }}
  {{- end }}
