configuration:
  pools: 
    - name: "db"
      users: 
      - username: "user"
        password: "pass"
        pool_size: 9
        statement_timeout: 0
      shards: 
      - servers:
        - host: "postgres"
          port: 5432
          role: "primary"
        database: "postgres"