name: Release Charts

on:
  workflow_run:
    workflows: ["Lint and Test Charts"]
    branches: [main]
    types:
      - completed

jobs:
  release:
    if: github.repository == 'Improwised/charts' && github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Adding dependency repositories
        run: |
          helm pull oci://registry-1.docker.io/bitnamicharts/postgresql --version 16.7.21
          helm pull oci://registry-1.docker.io/bitnamicharts/postgresql --version 12.2.6
          helm pull oci://registry-1.docker.io/bitnamicharts/postgresql --version 12.1.6
          helm pull oci://registry-1.docker.io/bitnamicharts/redis --version 21.2.13
          helm pull oci://registry-1.docker.io/bitnamicharts/common --version 1.x.x
          helm repo add ory https://k8s.ory.sh/helm/charts

      - name: Prepare GPG key
        run: |
          gpg_dir=.cr-gpg
          mkdir "$gpg_dir"
          keyring="$gpg_dir/secring.gpg"
          base64 -d <<< "$GPG_KEYRING_BASE64" > "$keyring"
          passphrase_file="$gpg_dir/passphrase"
          echo "$GPG_PASSPHRASE" > "$passphrase_file"
          echo "CR_PASSPHRASE_FILE=$passphrase_file" >> "$GITHUB_ENV"
          echo "CR_KEYRING=$keyring" >> "$GITHUB_ENV"
        env:
          GPG_KEYRING_BASE64: "${{ secrets.GPG_KEYRING_BASE64 }}"
          GPG_PASSPHRASE: "${{ secrets.GPG_PASSPHRASE }}"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          config: ./.github/config/cr.yaml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
